@use '../utils/temp/variables' as var;

:root {
  --font-family: 'Inter', Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
}

body,
input,
textarea,
button,
a {
  --default-family: var(--font-family);

  font-family: var(--default-family);
}

button {
  background-color: transparent;
  border: none;
}
