.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;
  }

  &-grid {
    display: grid;
  }
}

.align-items-center {
  align-items: center;
}

.justify {
  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }
}
