.l-header {
  position: sticky;
  position: -webkit-sticky;

  top: 0;
  left: 0;

  padding: 24px 0;

  &__container {
    width: 100%;
    padding: 0 16px;

    @media screen and (min-width: 1025px) {
      width: 81.25%;
      padding: 0;
      margin: 0 auto;
    }

    @media screen and (min-width: 1500px) {
      width: 87.5%;
    }

    @media screen and (min-width: 2500px) {
      width: 90.4%;
    }
  }
}

.l-nav {
  display: flex;

  &__list {
    a {
      color: #2d3643;
      opacity: 0.7;
    }
  }
}

.l-nav {
  &__logo {
    width: 28.86297376093295%;
    max-width: 99px;

    img {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 769px) {
      width: 19.959677419354836%;
      max-width: none;
    }

    @media screen and (min-width: 1025px) {
      width: 19.038461538461537%;
    }

    @media screen and (min-width: 1500px) {
      width: 11.785714285714285%;
    }
  }

  &__menu {
    width: auto;

    @media screen and (min-width: 1025px) {
      width: 16.071428571428573%;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 1025px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__actions {
    @media screen and (min-width: 1025px) {
      width: 30.76923076923077%;
      display: flex;
      align-items: center;
      gap: 32px;
    }

    @media screen and (min-width: 1500px) {
      width: 19.047619047619047%;
    }
  }
}

.l-nav {
  &__list a {
    display: block;

    font-size: 14px;
    line-height: 17.78px;

    @media screen and (min-width: 1500px) {
      font-size: 18px;
      line-height: 21.78px;
    }
  }

  &__actions :global {
    a {
      display: none;

      @media screen and (min-width: 1025px) {
        display: flex;
        width: 60%;
      }
    }
  }
}
